
        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;700&display=swap');

*{
    margin: 0;
    padding: 0; 
    font-family: 'Nunito', sans-serif;  
}
body{
    width: 100vw;
    height: 100vh;
}
main{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}
.cardlogin{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.cardlogin form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.title{
    margin-top: 30px;
    font-size: 370%;
    margin-bottom: 3vh;
}
.cardlogin .card-log{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.cardlogin .card-log input{
    margin-top: 6px;
    width: 110%;
    height: 5vh;
    padding-left: 10px;
}
.cardlogin form button{
    margin-top: 15px;
    width: 100%;
    height: 5vh;
    border-radius: 0px;
    border: 1px solid;
    color:white;
    background-color: black;
    font-size: 100%;
    font-weight: bold;
    margin-left:30px;

}
.imglogo{
width: 27%;
align-self: flex-end;
display: flex;
}
.imglogo img{
    width: 100%;
}
.listra-rosa{
    width: 100vw;
    height: 10vh;
    background-color: #424eee;
}
main a{
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
    padding-left: 25px;
    font-size: 90%;
}


