body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Cor de fundo alternativa */
}

.aa {
    text-align: center;
    background: #eec642;
    color: white;
    padding: 20px 0;
}

h1 {
    font-size: 36px;
    margin: 0;
}

.vaca {
    width: 150px; /* Ajuste o tamanho da imagem da vaca conforme necessário */
    margin-top: 10px;
}

.main-area {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60vh;
}

.div1 {
    width: 30%;
    text-align: center;
    background: #407cff;
    color: white;
    border-radius: 10px;
    padding: 20px;
    transition: transform 0.3s ease;
}

.div1:hover {
    transform: translateY(-10px);
}

.icon {
    width: 80px; /* Ajuste o tamanho dos ícones conforme necessário */
    margin-bottom: 10px;
}

.div1 h2 {
    margin: 0;
    font-size: 18px;
}
