*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background: radial-gradient(rgba(68, 160, 206, 0.815),rgb(202, 202, 250));
    flex-direction: column;
}
header {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #407cff;
}
header img {
    width: auto;
    height: 100%;}

header a{
    text-decoration: none   ;
    color: #000000;
    margin-right: 20px;
}

header a:hover{
    text-decoration: underline;
}
.container {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex-wrap: wrap;
}
.title {
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    color: #000000;
}
.finance-field {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    font-size: 1.2em;
}
.finance-field div:nth-child(1) {
    font-weight: bold;
}
input, button {
    font-size: 1em;
    padding: 0.5em;
}
